/* Layout */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Inter, sans-serif;

  .container {
    display: flex;
    flex-direction: column;
  }

  button {
    cursor: pointer;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    height: 48px;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 10px;
  }

  button:hover, .button:hover {
    filter: brightness(0.8);
    scale: 1.1;
  }

  #main-page {
    background-color: #1f2937;
    height: 100dvh;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      padding: 0 16px;

      .logo {
        color: #f9faf8;
        font-size: 24px;
        font-weight: bold;
        height: 48px;
        display: flex;
        align-items: center;
        user-select: none;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        size: 48px 48px;
        padding: 12px;
        border-radius: 10px;
        background-color: #3882f6;
        color: #e5e7eb;
        cursor: pointer;
      } 
    }

    main {
      padding: 16px;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      justify-content: center;
      align-items: center;

      div {
        width: 40%;
        color: #f9faf8;
        font-size: 18px;

        h1 {
          font-size: 48px;
          margin-bottom: 0%;
        }

        p {
          color: #e5e7eb;
        }
      }

      img {
        width: 60%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }

  #page-two {
    height: 100dvh;
    padding: 0 16px;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 36px;
      font-weight: bolder;
      color: #1f2937
    }

    #container-facts {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 25%;
        line-height: 150%;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    } 
  }

  #page-three {
    background-color: #e5e7eb;
    height: 100dvh;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    line-height: 150%;
    line-break: loose;

    .quote {
      display: flex;
      flex-direction: column;
    }

    a {
      align-self: self-end;
    }
  }

  #page-four {
    height: 50dvh;
    align-items: center;
    justify-content: space-between;


    .callout {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 24px;
      margin: 24px;
      margin-top: 70px;
      background-color: #3882f6;
      border-radius: 10px;
    
      span {
        width: 70%;

        b {
          font-size: 24px;
        }
      }

      button {
        background-color: #1f2937;
        width: 30%
      }
    }

    footer {
      user-select: none;
      display: flex;
      background-color: #1f2937;
      color: #f9faf8;
      height: 100px;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;

      span {
        cursor: pointer;
      }
    }
  }
}


